.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 60em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
header {
  text-align: center;
  padding: 20px 0;
}
.icon {
  height: 100px;
  width: 100px;
  background-image: url('wallstreetbetstop.png');
  background-size: cover;
  display: inline-block;
  margin-bottom: 20px;
}
.content {
  text-align: justify;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.step {
  margin-top: 20px;
}
h2 {
  color: #2E8B57;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.news-summary {
  max-width: 300px;
}
